#launch.json folder
.vscode/

# Node artifact files
node_modules/
dist/

# Maven
target/
dist/

# Applications
*.app
*.exe
*.war

backups/
error.log

# Dependencies
/vendor/

# Environment files
.env.local
.env.*.local
.env

# Logs
/storage/logs/*
!/storage/logs/.gitkeep

# Uploads
/storage/uploads/profiles/*
!/storage/uploads/profiles/.gitkeep
!/storage/uploads/profiles/defaults