<!-- <?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  colors="true"
  stopOnFailure="false"
  cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Unit">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">app</directory>
    </include>
  </source>
  <php>
    <env name="APP_ENV" value="testing" />
    <env name="DB_HOST" value="localhost" />
    <env name="DB_PORT" value="3306" />
    <env name="DB_NAME" value="feedback_assistant_db" />
    <env name="DB_USER" value="root" />
    <env name="DB_PASS" value="root" />
  </php>
</phpunit>  -->